<% if message.from.id == current_user.id %>
        <div class="notification-from">
      <% else %>
        <div class="notification-to">
      <% end %>
        <%= cl_image_tag message.from.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <div class="notification-content">
        <p><%= message.content  %> </p>
      </div>
    </div>
