.container-booking{
  // padding-left: 200px;




  color: #999999;
  border: 1px solid #999999;
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  // padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.container-booking:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.continer-center{
  text-align: center;
}
