.container-review{
  padding-top: 10px;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 10px;
  margin-bottom: 10px;
  // width: 60%;
  text-align: center;
  background-color: white;
}

.container-review:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.container-center{
  text-align: center;
}
