.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  // padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
