.card {
  height: 70vh;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 50px;

  margin-bottom: 10px;
}

.card-small {
  width: 500px;
  background-size: cover;
}

.card-background {
  height: 175px;
  width: 100%;
  border-radius: 10%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-user {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  border-radius: 49%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 20px;
}
.card-description h2 {
  font-size: 24px;
  margin: 20px;
}
.card-description p {
  font-size: 24px;
  opacity: 0.7;
  font-weight: lighter;
  margin: 20px;
}
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover {
//   opacity: 0.1;
// }


