#message-container{
  text-align: center;
}

.notification-from {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: #CEFFC3;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  border-radius: 10px;
  width: 600px;
  margin-left: auto;
}

.notification-to {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  border-radius: 10px;
  width: 600px;

}

.notification-to .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification-to p {
  margin: 0, 10px;
  line-height: 1.4;
}

.notification-from .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification-from p {
  margin: 0, 10px;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

.message_form {
  padding: 50px;
}

