.avatar-lg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  height: 300px;
  width: 400px;
  border: solid;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
